name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3 python3-pip python3-venv \
            build-essential git zip unzip openjdk-17-jdk \
            libffi-dev libssl-dev

      - name: Install buildozer
        run: |
          pip3 install --upgrade pip
          pip3 install buildozer cython
     
      
      - name: Accept Android licenses
        run: |
          yes | $HOME/.buildozer/android/platform/android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses || true

      - name: Build APK
        run: |
         export ANDROID_SDK_ROOT=$HOME/.buildozer/android/platform/android-sdk
         yes | $ANDROID_SDK_ROOT/cmdline-tools/latest/bin/sdkmanager --licenses || true
         yes | $ANDROID_SDK_ROOT/cmdline-tools/latest/bin/sdkmanager "build-tools;36.0.0" || true
         buildozer -v android debug


      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
